In [1]:
# Dependencies and Setup
import os
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import pandas as pd
import numpy as np
import sqlalchemy

In [2]:
# Import key
from config import key

In [3]:
# Make the connection to PostgreSQL
from sqlalchemy import create_engine
engine = create_engine(key)
connection = engine.connect()
print(engine)

Engine(postgresql://postgres:***@localhost:5432/SQL_Challenge)

In [6]:
# 2. Create a histogram to visualize the most common salary ranges for employees

salaries = pd.read_sql_table('salaries', engine)
salaries

            id empl_no  salary
0            1   10001   60117
1            2   10002   65828
2            3   10003   40006
3            4   10004   40054
4            5   10005   78228
...        ...     ...     ...
300019  300020  499995   40000
300020  300021  499996   58058
300021  300022  499997   49597
300022  300023  499998   40000
300023  300024  499999   63707

[300024 rows x 3 columns]

In [34]:
# Salary Ranges

salaries.hist (column ='salary', bins=9, grid = True, color='maroon', figsize = (20,10), legend=True)
plt.xlabel('Salary (USD)', fontsize = 12,'{x:,.0f}')
plt.ylabel('Frecuency (Number of Employees)', fontsize = 12)
plt.title('Most Common Salary Ranges\n',fontsize = 12)
plt.savefig('Output/Salary_Ranges_Histogram.png',bbox_inches = 'tight')
plt.savefig('Output/Salary_Ranges_Histogram.jpg',bbox_inches = 'tight')
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-34-a0ba3faac5c2>, line 4)